{
	"parser": "babel-eslint",
	"extends": ["eslint:recommended", "plugin:react/recommended"],
	"parserOptions": {
		"sourceType": "module"
	},
	"rules": {
		"no-undef": "off",
		"react/prop-types": "off"
	}
}
